    body {
    background-color: black;
    }

    .login-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    }

    h2 {
        color: aliceblue;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }
    input {
        margin: auto;
        padding: 8px;
        border-radius: 20px;
    }

    #submit {
        margin: auto;
        border-radius: 20px;
    }

    input[type="text"], input[type="password"], button {
    display: block;
    margin-bottom: 10px;
    }